@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body{
    margin: 0;
    padding: 0;
    background:lightyellow;
    text-align: justify;
    
}

/* headings and logo */
.topbox{
    z-index: 3;
    position:fixed; 
    height: 270px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url('../images/Background.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;    
    }

.topbox h1{
    position: absolute;
    color: #ffffff;  
    font-size: 50px;
    line-height: 0.9;  
    font-family: 'Oswald';
    top: 35%;
    margin-left : 150px;
    left: 36%;
    }

.topbox ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Oswald';
    font-size: large;
  }
.topbox li{
    float: right;
    position: relative;

}

.topbox li a{  display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

.topbox li a:hover{background-color: rgb(151, 126, 43);}

.saying{
    position: absolute;
    color: #ffffff;  
    font-size: 22px;
    font-family: 'Oswald';
    top: 30%;
    justify-content: left;
    left: 5%;
    font-style: italic;
}

.hypocratespic{
width: 100px;
position: absolute;
top:60%;
left:5%;
border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;

}
