@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body{
    margin: 0;
    padding: 0;
    background:lightyellow;
    text-align: justify;
    
}

img { max-width: 100%; height: auto; }

/* headings and logo */
.topbox{
    z-index: 3;
    position:fixed; 
    height: 270px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url('../images/Background.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
      
    }

.topbox h1{
    position:relative;
    color: #ffffff;  
    font-size: 50px;
    line-height: 0.9;  
    font-family: 'Oswald';
    text-align: center;
    top: 40%;
           }

.topbox ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: arial, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Oswald';
    font-size: large;
  }
.topbox li{
    float: right;
    position: relative;
}

.topbox li a{  display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

.topbox li a:hover{background-color: rgb(202, 168, 56);}
.topbox > .active > a { 
    background-color: orange ; 
}

.saying{
    position: absolute;
    color: #ffffff;  
    
    font-size:1vw;
    font-family: 'Oswald';
    top: 25%;
    justify-content: left;
    left: 5%;
    font-style: italic;
}

.hypocratespic{
width: 100px;
position: absolute;

top:53%;
left:5%;
border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}


/*webpage content, Ayurveda, spices, benfits, history */

.banner{
    z-index: 2;
    margin-top: 270px;
    /* left: 30px; */
    position: absolute;
    color: orange;
   
    
}

.web-text{
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    
}

.web-text h1 {
    font-size: 40px;
    width: 100%;
    position:relative;
    text-align: center;
    font-family:'Oswald';
}

.web-text h2 {
    font-size: 30px;
    width: 100%;
	
    /*position:relative;*/

    text-align: center;
    font-family:'Oswald';
}

.web-text p {
    width: 100%;
    font-size:21px;
    margin-top:50px;
    line-height: 25px;
    color: grey;
    font-family: 'lato';
}

.web-text img{
    width: 40%;
    margin-top: 0%;
    margin-left: 33%;
    margin-right: 25%;
    border-radius: 5%;
    }

     
 .vasco-image {
        text-align:center;
        border-radius: 5%;
        }
       
 .vasco-text p{
    width: 100%;
    font-size:21px;
    margin-top:50px;
    line-height: 25px;
    color: grey;
    font-family: 'lato';
    }
    
    /*about the farm */

  .details {
        width: 90%;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
       
        
       
    }
 .left-about{
          
        font-size:21px;
        color: grey;
        font-family: 'lato';
        
         }

 .left-about-heading h2{
            /*line-height: 10px;*/
            font-size:30px;
            clear: both;
            margin-bottom: 5x;
            margin-top: 10px;
            margin-left:0px;
            font-family:'Oswald';
            color: orange; 
            text-align: center;
              
        }
 .left-about-heading img{
            width: 20% ;
            /*position: absolute;*/
            height: 20%;
            margin: 10px;
            border-radius: 5%;
            float:left;}
            
 .left-about-heading p{
        font-size:21px;
         padding-top: 5%;
        line-height: 25px;
        color: grey;
        font-family: 'lato';
            }
        

    /* Media Queries: Tablet Landscape 
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

 Media Queries: Tabled Portrait 
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 400px) {
    
    .hypocratespic{
               
               float: centre;
    }

   
    }



/* About spices page */
.AboutSpices {
    position: absolute;
    margin-top: 270px;
    z-index: 1;
    width: 100%;
    text-align: center;
    height:125px;
    
 }

 .SpicesTextLeft{
    position: absolute;
    margin-top: 397px;
    z-index: 1;
    margin-right: 52%;
    width: 48%;
    text-align: center;
    font-family: "Oswald";
    
    margin-bottom: 10px;
 }

 .SpicesTextLeft p{
    height: 100%;
     font-size:21px;
    padding:8px;
 
 }

 .SpicesTextLeft img{
     width: 50%;
     height: auto;
    border-radius: 30%;
    background-color: chocolate;
 }

 .SpicesTextRight{
    position: absolute;
    margin-top: 397px;
    z-index: 1;
    margin-left: 52%;
    width: 48%;
    text-align: center;
    font-family: "Oswald";
    
    margin-bottom: 10px;
 }

 .SpicesTextRight p{
    height: 100%;
     font-size:21px;
    padding:8px;
 
 }

 .SpicesTextRight img{
    width: 50%;
    height: auto;
   border-radius: 30%;
   background-color: chocolate;
}
/* footer  social media networks 

footer{
    height: 50%;
    background-color: saddlebrown; 
       }*/
#footer {
  
  
  /* border: 3px solid #8AC007; */

  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: rgb(131, 119, 238);
  
 } 


 .social-networks{
     text-align:center;
     
     
         }

 .social-networks > li{
     display: inline;
 }
 .social-networks i {
     font-size: 160%;
   
     
     padding: 3%;
     color: #e08b0c;
    }
     
  /* Form */

  .form-section {
    position: absolute;
    margin-top: 270px;
    clear: left;
    background: url('/assets/images/spices_empty.jpg');
    background-size: cover;
    
    background-position: center;
    height: 800px;
    width:100%;
    text-align:left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.signup-form {
    margin: 150px 5% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 330px;
    position: absolute;
    left: 10%;
    padding: 50px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 30px;
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 20px;
    margin: 2px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #e2651c;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #e2651c;
}

.finalmessage {
    
    margin-top: 1070px;
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    background-color: blueviolet;

}